.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  position: absolute;
  z-index: 20;

  height: 100vh;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;

  overflow-y: scroll;
}

.popup::-webkit-scrollbar {
  width: 0;
}

.popup-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 30;

  font-size: 0;

  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
  filter: drop-shadow(0 0 24px rgba(234, 0, 41, 0.33));
  outline: none;
}

.popup-close:disabled path {
  fill: #BEC5CC;
  filter: none;
}

.popup-headline {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;

  margin: 0 0 16px 0;

  word-break: break-word;
}

.info {
  color: #808080;
  font-size: 12px;
  line-height: 16px;

  margin: 0 0 24px 0;

  word-break: break-word;
}

.br-for-tablets,
.br-for-computers {
  display: none;
}

.input-data-label {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.input-data {
  font-size: 14px;
  line-height: 24px;

  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px 10px;

  border: 1px solid #DFE3E6;
  border-radius: 3px;
}

.input-data::placeholder {
  color: #BEC5CC;
}

.input-data:hover,
.input-data:focus {
  border-color: #000000;
  outline: none;
}

.input-data:disabled {
  color: #808080;

  background-color: transparent;
  border-color: #808080;
}

.input-data--error .input-data {
  border-color: #EA0029;
}

.input-data--error::after {
  content: "Поле обязательно для заполнения";

  position: absolute;
  bottom: -14px;

  color: #EA0029;
  font-size: 10px;
  line-height: 12px;
}

.calculate-button {
  color: #EA0029;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  align-self: flex-start;
  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.calculate-button:hover,
.calculate-button:focus {
  color: #F53A31;
  outline: none;
}

.calculate-button:active {
  color: #EA0029;
}

.reduce-choice {
  margin: 24px 0;
  padding: 0;

  border: none;
}

.reduce-choice-headline {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  margin: 0 0 24px 0;

  word-break: break-word;
}

.reduce-choice-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reduce-choice-label {
  font-size: 14px;
  line-height: 24px;

  display: block;
  margin-right: 8px;
  padding: 6px 12px;

  background-color: #EEF0F2;
  border-radius: 50px;
}

.reduce-choice-label:hover {
  background-color: #DFE3E6;
}

.reduce-choice-radio:active ~ .reduce-choice-label,
.reduce-choice-radio:checked ~ .reduce-choice-label {
  color: #FFFFFF;

  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
}

.add-button {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  display: block;
  width: 100%;
  margin-top: auto;
  padding: 12px 24px;

  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 24px rgba(234, 0, 41, 0.33);

  cursor: pointer;
}

.add-button:hover,
.add-button:focus {
  background-color: #EA0029;
  outline: none;
}

.add-button:disabled {
  background: #BEC5CC;
  box-shadow: none;
}

@media (min-width: 768px) {
  .popup {
    width: 453px;
    height: auto;
    max-height: 100vh;
    padding: 32px;

    border-radius: 30px;
  }

  .popup-close {
    top: 27px;
    right: 23px;
  }

  .popup-headline {
    font-size: 28px;
    line-height: 40px;
  }

  .info {
    font-size: 14px;
    line-height: 24px;
  }

  .br-for-tablets {
    display: inline;
  }

  .reduce-choice {
    margin-bottom: 40px;
  }

  .reduce-choice-wrapper {
    display: flex;
    align-items: baseline;
  }

  .reduce-choice-headline {
    margin-right: 76px;
  }

  .reduce-choice-label {
    margin-right: 16px;
  }

  .add-button {
    font-size: 16px;
    line-height: 24px;

    padding: 16px 24px;
  }
}

@media (min-width: 1440px) {
  .popup {
    width: 552px
  }

  .br-for-computers {
    display: inline;
  }

  .br-for-tablets {
    display: none;
  }

  .reduce-choice-headline {
    margin-right: 32px;
  }
}
