.result-table {
  font-size: 14px;
  line-height: 24px;

  width: 100%;

  border-collapse: collapse;
}

.result-table-caption {
  font-weight: 500;
  text-align: left;

  width: 150px;
  margin: 16px 0;
}

@media (min-width: 768px) {
  .result-table-caption {
    width: auto;
  }
}
